<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} ^/api
    RewriteRule ^ index.php
</IfModule>

<IfModule mod_headers.c>
    # Development
    SetEnvIf Origin "http://localhost(:\d{1,5})?$" CORS=$0

    # Production
    SetEnvIf Origin "https://(.+\.)?bugloverjourney\.com(:\d{1,5})?$" CORS=$0

    Header set Access-Control-Allow-Origin "%{CORS}e" env=CORS
    Header set Access-Control-Allow-Headers "*"
</IfModule>