@import '@/style/variables.less';

header {
 background: @base-color;

  .container {
    width: 90%;
    margin: 0 auto;
    color: @font-base-color;
  }
} 

.main-container {
  width: 90%;
  margin: 0 auto;
}