@import '@/style/variables.less';

header {
 background: @base-color;

  .container {
    width: 90%;
    margin: 0 auto;
    color: @font-base-color;
  }
} 

nav {
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    
    li {
      padding: 1em;

      a {
        text-decoration: none;
        color: @font-base-color;
      }
    }
  }
}

h1 {
  margin: 1.5em 0;
  padding-bottom: .2em;
  border-bottom: 1px solid @base-color;
  
  &::before {
    content: '';
    padding-left: .5em;
    margin-right: .2em;
  }
}

.main-container {
  width: 90%;
  margin: 0 auto;
}